*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wordmark {
  text-align: center;
}

.searchBar {
  text-align: center;
}

.cards {
  text-align: center;
}